.page {
  margin: 0 auto;
  max-width: 360px;
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px 20px;
  box-sizing: border-box;
  background-color: #131313;;
}

.header__logo {
  width: 78px;
  height: 15px;
  transition: opacity .15s ease;
}

.header__logo:hover {
  opacity: .7;
}

.header__menu {
  margin: 0;
  padding: 0;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-link {
  font-family: 'Inter Regular', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #f5f5f5;
  transition: opacity .15s ease;
}

.header__menu-link:hover {
  opacity: .7;
}

.header__menu-link_active {
  text-decoration: none;
}

